.div_body {
	width: 100%;
	background-color: #FFFFFF;
}

.div_nai {
	line-height: 40px;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #666;
}
.div_nai a {
	color: #666;
	text-decoration: none;
}

.div_nai a:HOVER {
	color: #3b71f2;
}



.jyfwDiv{
    height: 150px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    margin-top: -20px;
    background: #FFFFFF;
    border: solid 1px #eaf3fd;
}

.proving {
	width: 1000px;
	height: 607px;
	background-color: #FFFFFF;
	position: absolute;
	top: 6%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1000;
	display: block;
}

.prov_title{
    height: 34px;
    background: #fff;
    color: #333;
    font-size: 14px;
    line-height: 34px;
    padding: 0 15px;
    font-weight: bold;
}

.cover {
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
    bottom: 0;
	z-index: 999;
	display: block;
	opacity: 0.3;
	filter: alpha(opacity=50);
}

.search_xzml {
	margin: 0 23px 0 25px;
	padding-top: 25px;
	height: 35px;
}

.search_info {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
}

.head_ml {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 22px;
	padding-left: 10px;
}

.search_but {
	font-family: PingFangSC-Regular;
	background: #5267EF;
	border-radius: 0 4px 4px 0;
	width: 59px;
	height: 32px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	vertical-align: middle;
	border: 0;
	cursor: pointer;
	float: right;
}

.search_but:HOVER {
	background-color: #2a45f5;
}

.search_xx {
	margin: 15px 23px 0 25px;
	height: 376px;
}

.search_xx h2 {
	background: #F2F2F2;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 10px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	margin: 0;
}

.search_one {
	width: 266px;
	height: 382px;
	float: left;
	margin: 0 20px 0 0;
}

.search_dl {
	height: 353px;
	width: 264px;
	overflow-x: auto;
	overflow-y: auto;
}

.border {
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0;
	border-top: 0;
}

.border1 {
	border: 1px solid #7dc200;
	padding: 0;
	border-top: 0;
}

.search_two {
	width: 266px;
	height: 382px;
	float: left;
}

.search_zxl {
	height: 353px;
	width: 264px;
	overflow-x: auto;
	overflow-y: auto;
}

.search_three {
	width: 134px;
	height: 382px;
	float: left;
	padding: 0;
	text-align: center;
}

.add_but {
	cursor: pointer;
	width: 83px;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	margin-bottom: 30px;
	margin-top: 148px;
}
.add_but:HOVER {
	background: #ededed;
}
.delete_but {
	cursor: pointer;
	width: 83px;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}
.delete_but:HOVER {
	background: #ededed;
}

.search_four {
	width: 266px;
	height: 382px;
	float: right;
}

.search_hzxk {
	height: 353px;
	width: 264px;
	overflow-x: auto;
	overflow-y: auto;
	background-color: rgba(125,194,0,0.1);
}

.search_hzxk ul{
	padding: 5px 0 0 5px;
    margin: 0;
    list-style: none;
    font-size: 12px;
}

.prov_close {
	text-align: center;
	margin: 58px 0 0 0;
	height: 36px;
}

.but_scjyfw {
	background: #7DC200;
	border-radius: 4px;
	width: 115px;
	height: 32px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 22px;
	border: 0;
	cursor: pointer;
}
.but_scjyfw:HOVER {
	background: #76b504;
}

.but_close {
	background: #FFFFFF;
	border-radius: 4px;
	width: 59px;
	height: 32px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 22px;
	border: 1px solid #D9D9D9;
	cursor: pointer;
}
.but_close:HOVER {
	background: #ededed;
}

.djfb_but{
	display: inline-block;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #FFF;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    background: #4d91ef;
}
.djfb_but:HOVER{
	background-color: #FFF;
	color: #4d91ef;
}
.content{
	width: 100%;
	line-height: 100px;
	text-align: center;
}
.content_title{
	background-color: #eaf3fd;
	height: 50px;
	line-height: 50px;
}
.content_title .text{
    color: #4d91ef;
    width: 500px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    margin-left: 15px;
    text-align: left;
}
.content_title ul li{
	color: #333;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	float: left;
    width: 155px;
    text-align: center;
    cursor: pointer;
    list-style: none;
    border: 1px solid #eaf3fd;
    border-bottom: none;
}
.content_title li.select{
    color: #4d91ef;
    background-color: #FFF;
}
#cy {
	width: 600px;
	height: 800px;
	margin: 0 auto;
	float: left;
	background-color: #FFF;
}
#lay2 {
	position:relative;
	width: 998px;
	border: solid 1px #eaf3fd;
    border-top: none;
}
#tabDiv{
	width: 388px;
    float: right;
    padding: 5px;
}
#tableCon{
	height: 100%;
	width: 978px;
	position: absolute;
	margin: 0 auto;
	float: left;
	background-color: #FFF;
	border: solid 1px #eaf3fd;
	border-top: none;
	display: none;
	padding: 10px;
}
.content_table{
	width: 100%;
    margin-bottom: 10px;
    display: table;
    border-collapse: separate;
    border:solid rgba(0,0,0,0.08); 
    border-width:1px 0 0 1px;
}
.content_table tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.content_table tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.content_table th{
    line-height: 30px;
    color: #666;
    font-weight: bold;
    background-color: #F4F4F4;    
    font-family: PingFangSC-Semibold;
	font-size: 14px;
}
.content_table td{
    line-height: 30px;
    color: #666;
    background-color: #FFF;    
    font-family: PingFangSC-Regular;
	font-size: 14px;
	border:solid #F4F4F4; 
	border-width:0 1px 1px 0;
	text-align: center;
}
.content_table td a{
	color: #4773B1;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	text-decoration:none;
}
.content_table td a:HOVER{
	color: #3b71f2;
}
.content_table .td_l{
	width: 20%;
}
.content_table .td_r{
	text-align: left;
}
.content_table .td_r ul li{
	list-style: none;
}
.content_table .td_r ul li a{
    color: #4d91ef;
}
.content_table .td_r ul li a:HOVER{
    color: #4d91ef;
	text-decoration:underline;
}
.content_table4SX{
	width: 100%;
    margin-bottom: 10px;
    border-collapse: separate;
    border:solid rgba(0,0,0,0.08); 
    border-width:1px 0 0 1px;
    display: none;
}
.content_table4SX tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.content_table4SX tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.content_table4SX td{
    line-height: 18px;
    color: #666;
    background-color: #FFF;    
    font-family: PingFangSC-Regular;
	font-size: 12px;
	border:solid #F4F4F4; 
	border-width:0 1px 1px 0;
	text-align: center;
}
.content_table4SX .td_l{
	width: 20%;
}
.content_table4SX .td_r{
	text-align: left;
	padding: 3px;
}

#cy canvas {
	
}

#info {
	color: #c88;
	position: absolute;
	z-index: -1;
	left: 1em;
	top: 1em;
}