.div_body{
	width: 100%;
	background-color:#FFFFFF;
}
.div_nai{
	line-height: 40px;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #666;
}
.div_nai a{
	color: #666;
	text-decoration:none;
}
.div_nai a:HOVER{
	color: #3b71f2;
}
.div_inline{
	display: inline-block;
	width: 480px;
	height: 310px;
}
.div_inline .title{
	background-color:#9bbe49;
	line-height: 20px;
	padding: 20px;
	border-radius:5px 5px 0px 0px;
}
.div_inline .title .text{
	display:inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 18px;
	color: #FFF;
}
.div_inline .title .but{
	display:inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #FFF;
	margin-left: 250px;
	border-radius:5px;
	border:1px solid #FFF;
	width: 70px;
	line-height: 30px;
	text-align: center;
	text-decoration:none;
}
.div_inline .title .but:HOVER{
	background-color: #FFF;
	color: #5A3FE6;
}
.div_inline .content{
	background-color:#FFF;
	height: 320px;
	border: 1px solid #F1F1F1;
}
.div_inline .content ul{
	text-align: left;
	padding-top: 20px;
	margin: 0;
}
.div_inline .content ul li{
	font-size: 15px;
    background: url(../imgs/list.png) no-repeat left center;
    line-height: 20px;
    padding-left: 15px;
    list-style: none;
    margin-bottom: 20px;
    display: table;
}
.div_inline .content ul li a{
	display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s;
}
.div_inline .content ul li a:HOVER{
	color: #9bbe49;
	text-decoration: underline;
}