body {
	font-family: helvetica neue, helvetica, liberation sans, arial,
		sans-serif,microsoft yahei ;
	
	font-size: 18px;
}
.div_body{
	width: 100%;
	background-color:#F1F1F1;
}
.div_nai{
	line-height: 40px;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #666;
	margin-left: 15%;
}
.div_nai a{
	color: #666;
	text-decoration:none;
}
.div_nai a:HOVER{
	color: #3b71f2;
}
.div_title{
    margin-left: 35%;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
#cy {
   
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	margin-top: 450px;
	border:1px solid #E0E0E0;
	float: left;
	background-color: #FFF;
}

#cy canvas {
	
}

#info {
	color: #c88;
	position: absolute;
	z-index: -1;
	left: 1em;
	top: 1em;
}

.djfb_but{
	width: 107px;
	line-height: 34px;
	margin-top: -45px;
    margin-left: 800px;
    background-color: #3b71f2;
	border-radius: 5px;
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: 16px;
    color: #FFF !important;
    text-decoration:none;
    float: left;
}
.djfb_but:HOVER{
	color: #F0F0F0 !important;
}