[v-cloak] {
	display: none;
}

body {
	margin: 0px;
	padding: 0px;
	background: #F8F8F8;
	overflow-y: auto;
}

.header_logo {
	float: left;
}

.el-header {
	padding: 0;
	margin: 10px auto;
	width: 70%;
}

.head {
	margin-left: 10%;
}

.head ul li {
	float: left;
	list-style: none;
	margin-right: 30px;
}

.banner {
	width: 100%;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 25px;
}

.container {
	position: relative;
	color: #fff;
	width: 70%;
	margin: 0 auto;
	padding-top: 3%;
}

.left_t {
	height: 50px;
	font-size: 24px;
	float: left;
	margin-top: 20px;
	margin-right: 50px;
	cursor: pointer;
}

.container span {
	font-family: MicrosoftYaHei-Bold;
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 1px;
	width: 500px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container p {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #f0f4f5;
}

.askArea{
	width: 65%;
    float: left;
}

.contentDiv {
	width: 95%;
	margin: 0 auto;
	min-height: 300px;
}

.introduction {
	background: #fff;
	margin-bottom: 30px;
	padding: 30px;
	color: #666666;
	font-weight: normal;
	font-stretch: normal;
	line-height: 25px;
	font-size: 14px;
	background-color: #eeeeee;
	border-radius: 10px;
	font-family: MicrosoftYaHei;
	position: relative;
}

.introduction_left {
	position: absolute;
	left: -5px;
	top: -10px;
}

.introduction_right {
	position: absolute;
	top: 99.7%;
	right: 3%;
}

.ask_block {
	background: #FFF;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 100px;
}

.ask_padding {
	padding: 10px;
}

.ask_content {
	background: #f8f8f8;
	padding: 10px 15px;
	width: 93%;
	margin: 0 auto;
	border-top: solid 5px #FFF;
}

.ask_name_span {
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	color: #333333;
	letter-spacing: 0;
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	margin-right: 10px;
	margin-left: 13px;
}

.ask_name_type {
	font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #666;
	margin-left: 8px;
}

.ask_child_font {
	font-size: 14px;
}

.ask_explain {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #f6b03c;
	letter-spacing: 0;
}

.ask_explain_span {
	color: #666666;
	font-size: 14px;
}

.ask_explain_i {
	color: #f6b03c;
	font-size: 18px;
	margin-right: 10px;
}

.ask_answer {
	margin-top: 10px;
	margin-left: 35px;
}

.ask_answer_st {
	margin-left: 0px;
	margin-bottom: 15px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ask_answer_ss {
	margin-left: 0px;
	margin-bottom: 15px;
}

.ask_doit_btn {
	margin: 50px 55px 50px 40px;
	width: 228px;
	height: 47px;
}

.dividerDiv {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 10px;
}

.divider {
	display: block;
	border-bottom: dashed 1px #edeff1;
	width: 98%;
	margin: 0 auto;
}

.bottom {
	background-color: #263c6e;
	height: 150px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	display: block;
	align-items: center;
	padding-top: 50px;
}

.a_text {
	/* color: #265D9F; */
	text-decoration: none;
	cursor: pointer;
}

.a_text:HOVER {
	color: #517DB2;
	text-decoration: underline;
}

.a_text-z {
	color: #265D9F;
	text-decoration: none;
	cursor: pointer;
}

.a_text-z:HOVER {
	color: #517DB2;
	text-decoration: underline;
}

.inner-link {
	margin-top: 20%;
}

.inner-text {
	margin-top: 20%;
}

.inner-left {
	float: left;
}

.el-checkbox.is-bordered.el-checkbox--mini {
	padding: 6px 15px 0px 10px;
	border-radius: 3px;
	height: 28px;
}

.el-alert__icon {
	font-size: 16px;
	width: 14px;
	color: #c5c5c5;
}

.contentDiv_table {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 200px;
	/* min-height: 600px; */
}

.table_btn_group {
	width: 45%;
	height: 47px;
	margin: 50px auto;
}

.table_btn_left {
	float: left;
	width: 45%;
	height: 47px;
}

.table_btn_right {
	float: right;
	width: 45%;
	height: 47px;
}

.el-table thead {
	font-weight: 500;
	color: #666666;
}

.el-table th {
	background-color: #e2e2e2;
}

.el-table td {
	background-color: #FFFFFF;
}

.el-alert--info.is-light {
	background-color: #FFFFFF;
	color: #d22317;
}

.el-alert__title {
	font-size: 12px;
	line-height: 18px;
}