[v-cloak] {
	display: none;
}

.contentDiv {
	width: 1200px;
	margin: 0 auto;
}

#cover {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.div_nai {
	line-height: 40px;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #666;
	margin-top: 300px;
}

.div_nai a {
	color: #666;
	text-decoration: none;
}

.div_nai a:HOVER {
	color: #3b71f2;
}

.left {
	width: 100%;
	float: left;
	height: 100%;
}

.left_head {
	margin-bottom: 12px;
	height: 50px;
	background: #F4FAFF;
}

.head_d {
	background: #3498F5;
	width: 5px;
	height: 50px;
	float: left;
}

.head_img {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.head_title {
	float: left;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	color: #3498F5;
	letter-spacing: 0;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	font-weight: bold;
}

.introduction {
	background: #fff;
	margin-bottom: 10px;
	padding: 12px;
	color: #606266;
	font-size: 14px;
}

.ask_content {
	background: #FFF;
	padding: 10px;
}

.aks_desc {
	background: #f2f2f2;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	color: #666666;
	letter-spacing: 0;
	padding: 10px;
	word-wrap: break-word;
}

.aks_response_desc {
	background: #f2f2f2;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	padding: 5px;
	word-wrap: break-word;
}

.aks_question {
	height: 32px;
	position: relative;
}

.aks_img {
	background: #909399;
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: relative;
	top: -4px;
	margin-right: 10px;
}

.aks_name { /* height: 32px; */
	float: left;
	margin-left: 14px;
}

.aks_name_span {
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	color: #333333;
	letter-spacing: 0;
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	margin-right: 10px;
}

.aks_point {
	height: 32px;
	float: left;
	position: relative;
	margin-left: 10px;
	width: 32px;
}

.aks_explain {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #F5A623;
	letter-spacing: 0;
}

.aks_answer {
	margin-top: 10px;
	margin-left: 20px;
}

.aks_answer_span {
	cursor: pointer;
	margin-left: 10px;
}

.aks_btn {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #54ADFF;
	border-radius: 5px;
	width: 193px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.aks_btn:hover {
	background: #3875d7;
}

.right {
	width: 25%;
	float: right;
}

.right_t {
	height: 50px;
	border: 1px solid #F1F1F1;
}

.right_t_l {
	background: #3498F5;
	float: left;
	width: 17%;
	height: 50px;
	position: relative;
}

.t_l_img {
	position: relative;
	top: 25%;
	left: 25%;
}

.right_t_r {
	background: #54ADFF;
	float: right;
	width: 83%;
	height: 50px;
	line-height: 50px;
}

.t_r_span {
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-left: 10px;
}

.right_t_content {
	height: 190px;
	border: 1px solid #F1F1F1;
	border-top: 0px;
	padding: 9px;
}

.t_content_one {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	line-height: 22px;
}

.t_content_two {
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	color: #666666;
	letter-spacing: 0;
	line-height: 22px;
	margin-top: 22px;
	font-weight: 600;
}

.t_content_three {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #3498F5;
	letter-spacing: 0;
	line-height: 22px;
}

.right_robot {
	background: #434868;
	border-radius: 10px;
	height: 123px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.robot_div_img {
	float: left;
	position: relative;
	height: 123px;
	width: 30%;
}

.robot_img {
	position: relative;
	top: 12%;
	left: 12%;
}

.robot_div {
	width: 70%;
	height: 123px;
	float: right;
}

.robot_div_t {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-top: 20px;
}

.robot_div_btn {
	background: #F5A623;
	border-radius: 17px;
	width: 114px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-family: MicrosoftYaHei-Bold;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0.66px;
	cursor: pointer;
	margin-top: 14px;
}

.right_t_content1 {
	height: 100px;
	border: 1px solid #F1F1F1;
	border-top: 0px;
	padding: 10px;
	margin-bottom: 10px;
}

.t_content1_center {
	margin-top: 10px;
}

.t_content1_div {
	float: left;
	text-align: center;
	width: 33.3%;
}

.right_t_content2 {
	height: 130px;
	border: 1px solid #F1F1F1;
	border-top: 0px;
	margin-bottom: 10px;
}

.t_content2_l {
	float: left;
	width: 17%;
	height: 130px;
}

.t_content2_r {
	float: right;
	width: 83%;
	height: 130px;
}

.content2_l_t {
	background: #434868;
	width: 17px;
	height: 2px;
	margin-top: 27px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
}

.phone_t {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	line-height: 24px;
	margin-top: 15px;
}

.phone {
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	color: #434868;
	letter-spacing: 0;
	line-height: 24px;
	font-weight: 600;
}

.bui-text {
	outline-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 14px;
	width: 200px;
	font-size: 14px;
	font-weight: 600;
	font-family: "Microsoft soft";
}

.bui-text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

@font-face {
	font-family: 'iconfont'; /* project id 654068 */
	src: url('//at.alicdn.com/t/font_654068_a978jt0cq5swnrk9.eot');
	src: url('//at.alicdn.com/t/font_654068_a978jt0cq5swnrk9.eot?#iefix')
		format('embedded-opentype'),
		url('//at.alicdn.com/t/font_654068_a978jt0cq5swnrk9.woff')
		format('woff'),
		url('//at.alicdn.com/t/font_654068_a978jt0cq5swnrk9.ttf')
		format('truetype'),
		url('//at.alicdn.com/t/font_654068_a978jt0cq5swnrk9.svg#iconfont')
		format('svg');
}

.iconfont {
	display: inline-block;
	font-family: 'iconfont';
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-text-stroke-width: 0.2px;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990;
	width: 100%;
	height: 100%;
	padding: 0 20px 0 0;
	background: #f6f4f5;
	display: none;
}

.showbox {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 9999;
	opacity: 0;
	filter: alpha(opacity =     0);
	margin-left: -80px;
}

* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}

* html .showbox,* html .overlay {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop) );
}

#AjaxLoading {
	border: 1px solid #8CBEDA;
	color: #37a;
	font-size: 12px;
	font-weight: bold;
}

#AjaxLoading div.loadingWord {
	width: 180px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #D6E7F2;
	background: #fff;
}

#AjaxLoading img {
	margin: 10px 15px;
	float: left;
	display: inline;
}

.ui-dialog-grid {
	width: 600px !important;
}

.ui-dialog-close {
	display: none !important;
}

.ui-dialog-title {
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #333 !important;
}

.ui-dialog-body {
	text-align: left !important;
	font-size: 14px !important;
	border-bottom: 1px solid #E5E5E5 !important;
}

.ui-dialog-button {
	margin-top: 20px !important;
}

.ui-dialog-footer button.ui-dialog-autofocus {
	color: #ffffff !important;
	background-color: #337ab7 !important;
	border-color: #2e6da4 !important;
}

.ui-dialog-footer button.ui-dialog-autofocus:hover {
	color: #ffffff !important;
	background-color: #428bca !important;
	border-color: #357ebd !important;
}

table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
	color: #575757;
	border-width: 1px;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table.gridtable th {
	border-width: 1px;
	padding: 10px;
	background-color: #d4ebff;
	color: #54adff;
	font-size: 16px;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #fff;
	background-color: #f4faff;
}

.table_btn_group {
	margin-left: auto;
	margin-right: auto;
	width: 430px;
	height: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.table_btn_left {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #606266;
	letter-spacing: 0;
	border-radius: 5px;
	width: 190px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	float: left;
	margin-right: 48px;
	border: 1px solid #DCDFE6;
	background: #f4f4f5;
}

.table_btn_right {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #54ADFF;
	border-radius: 5px;
	width: 190px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	float: left;
}

.table_btn_left:hover {
	background: #909399;
	border-color: #909399;
	color: #FFF;
}

.table_btn_right:hover {
	background: #3875d7;
}

.divider {
	display: block;
	width: 100%;
	margin: 12px 0;
	position: relative;
}

.el-checkbox.is-bordered.el-checkbox--mini {
	padding: 6px 15px 0px 10px;
	border-radius: 3px;
	height: 28px;
}

.el-alert__icon {
	font-size: 16px;
	width: 14px;
	color: #c5c5c5;
}

.el-table thead {
	font-weight: 500;
	color: #54adff;
}

.el-table th {
	background-color: #d4ebff;
}

.el-table td {
	background-color: #f4faff;
}