[v-cloak] {
	display: none;
}

.body {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}

.bottom {
	background-color: #263c6e;
	height: 100px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	display: block; 
	align-items: center;
	padding-top: 50px;
}

.inner-link {
	margin-top: 5%;
}

.inner-text {
	margin-top: 6%;
	margin-left: 10%;
}

.inner-left {
	float: left;
}

.el-link {
    font-size: 16px;
}

.main-nav-title {
	font-family: MicrosoftYaHei-Bold;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 72px;
	letter-spacing: 1px;
	color: #ffffff;
	font-weight: bold;
}

.main-nav-title2 {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #f0f4f5;
}

.el-main {
	padding: 0;
}

.el-header {
	padding: 0;
	margin: 10px auto;
	width: 70%;
}

.header-top {
	margin-top: 15px;
	margin-bottom: 15px;
}

.header_logo {
	float: left;
}

.left_t {
	height: 50px;
	font-size: 24px;
	float: left;
	margin-top: 20px;
	margin-right: 50px;
	cursor: pointer;
}

.container-title {
	font-family: MicrosoftYaHei-Bold;
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 1px;
	line-height: 63px;
	color: #f0f4f5;
}

.container-title2 {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #f0f4f5;
	line-height: 24px;
}

.banner {
	width: 100%;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	color: #ffffff;
}

.banner-nav {
	width: 70%;
	margin: 0 auto;
	height: 100px;
	padding-top: 21px;
}

.fixed {
	background-color: #ffffff;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}

.md {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}

.table_btn_group {
	width: 35%;
	height: 47px;
	margin: 50px auto;
}

.table_btn_left {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #606266;
	letter-spacing: 0;
	border-radius: 5px;
	width: 190px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	float: left;
	margin-right: 48px;
	border: 1px solid #DCDFE6;
	background: #f4f4f5;
}

.table_btn_right {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #3662ab;
	border-radius: 5px;
	width: 190px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	float: left;
}

.hot-point {
	width: 100%;
	height: 100px;
	background-color: #f2f2f2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hot-word-ul {
	overflow: hidden;
	list-style: none;
	padding: 0;
	width: 70%;
	margin: 0 auto;
	height: 100px;
}

.active {
	background-color: #FFFFFF;
	height: 100px;
	padding: 0;
	margin: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}

.hot-word-li {
	float: left;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	line-height: 30px;
	text-align: center;
	width: 16.6%;
}

.hot-word-span {
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	padding-top: 10px;
}

.hot-point-word {
	background-color: #d63d1f;
	color: #fff;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-radius: 2px;
	margin-left: 10px;
	text-align: center;
}

.banner .main-content {
	position: relative;
	color: #fff;
	padding-top: 1%;
	width: 80%;
	margin: 0 auto;
}

.main-content {
	width: 100%;
	margin: 0 auto;
}

.dh {
	margin-top: 35px;
	margin-bottom: 30px;
	height: 18px;
	border-left: 4px solid #ef6d2d;
}

.anmao {
	position: relative;
	top: -50px;
}

.dh-title {
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #333333;
	padding-left: 14px;
}

.dh-title-content {
	margin-left: 20px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
	line-height: 35px;
}

.dh-title-content-span {
	text-indent: 2em;	
}

.dh-title-content img {
	vertical-align: middle;
	margin-right: 5px;
}

.common_width {
	width: 70%;
	margin: 0 auto;
	min-height: 500px;
}

.table-bordered {
	position: relative;
	display: block;
	width: 70%;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #ebeef5;
}

.table-bordered img {
	float: left;
	position: absolute;
	margin: 15px;
}

.table-bordered span,.table tbody td {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}

.table-bordered span {
	padding-left: 50px;
}

.table-bordered tbody td {
	padding-left: 20px;
}

.table-bordered thead {
	float: left;
}

.table-bordered th {
	border-bottom: 1px solid #ebeef5;
	border-right: 1px solid #ebeef5;
}

.table-bordered tbody td {
	border-bottom: 1px solid #ebeef5;
}

.table-bordered th {
	line-height: 50px;
}

.table-bordered th,.table-bordered td {
	height: 50px;
	display: block;
	text-align: left;
	font-size: 14px;
}

.table-other {
	margin: 0 auto;
	background-color: #ffffff;
	border-left: 1px solid #ebeef5;
	border-top: 1px solid #ebeef5;
	border-right: 1px solid #ebeef5;
}

.table-other tbody td {
	text-align: left;
    padding-left: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
	border-bottom: 1px solid #ebeef5;
}

.table-other thead tr th {
	text-align: left;
	padding-left: 15px;
	border-bottom: 1px solid #ebeef5;
	/* border-right: 1px solid #ebeef5; */
	background-color: #f0f4f5;
	font-family: MicrosoftYaHei-Bold;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
}

.qrcode {
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.qrcode-img {
	float: right;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}

.table-other tbody tr th {
	text-align: left;
}

.info {
	color: #d63d1f;
	cursor: pointer;
	text-decoration: none;
}

.left_download {
	height: 32px;
	color: #3498F5;
	text-align: right;
	float: right;
	margin-right: 20px;
}

.left_download_img {
	width: 25px;
	height: 25px;
	margin-right: 8px;
}

.download {
	font-family: MicrosoftYaHei-Bold;
	font-weight: 400;
	font-size: 13px;
	float: right;
	cursor: pointer;
}

.ask_explain_i {
	font-size: 20px;
	color: #f6b03c;
}

.ask {
	font-weight: bold;
	color: #333;
    margin-left: 10px;
}

.answer{
	font-size: 14px;
	margin-left: 30px;
}