.div_nai {
	line-height: 40px;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #666;
}

.div_nai a {
	color: #666;
	text-decoration: none;
}

.div_nai a:HOVER {
	color: #3b71f2;
}

.div_inline {
	height: 100px;
	background-color: #0064cc;
	opacity: 0.75;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}

.div_all {
	width: 500px;
	float: left;
	height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.title {
	color: #fff;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 600;
}

.content {
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	font-family: MicrosoftYaHei;
}

.aks_btn {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #0064cc;
	letter-spacing: 0;
	background: #FFF;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	float: right;
	margin-top: 30px;
}

.aks_btn:hover {
	background: #F5A623;
	color: #FFF;
}