[v-cloak] {
	display: none;
}

.body {
	background: #f8f8f8;
	margin: 0;
	padding: 0;
}

.bottom {
	background-color: #263c6e;
	height: 150px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	display: flex;
	align-items: center;
}

.inner-link {
	margin-top: 5%;
}

.inner-text {
	margin-top: 6%;
	margin-left: 10%;
}

.inner-left {
	float: left;
}

.el-main {
	padding: 0;
}

.el-header {
	padding: 0;
	margin: 10px auto;
	width: 70%;
}

.header-top {
	margin-top: 15px;
	margin-bottom: 15px;
}

.header_logo {
	float: left;
}

.container {
	margin: 0 auto;
}

.banner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 350px;
}

.banner .main-content {
	position: relative;
	color: #fff;
	text-align: center;
	padding-top: 3%;
}

.main-content {
	width: 100%;
	margin: 0 auto;
}

.area-div {
	padding-bottom: 4%;
	padding-top: 1%;
}

.area-select {
	border-radius: 3px;
	color: #ffffff;
	width: 10%;
	padding: 6px;
	background: rgba(255, 255, 255, 0.29);
	font-size: 14px;
}

.area-select-content {
	cursor: default;
	position: absolute;
	background: #fff;
	box-shadow: 0px 0px 6px 1px #999;
	width: 68%;
	text-align: left;
	margin-left: 15%;
	left: 0%;
	top: 70%;
	z-index: 99999;
	font-size: 14px;
	border-radius: 3px;
}

.close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.area-select-content-ul {
	overflow: hidden;
	list-style: none;
}

.area-selector {
	float: left;
	padding: 5px 12px;
	width: 10%;
	font-size: 14px;
	color: #666;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

.area-selector:hover {
	background-color: #255d9f;
	color: #ffffff;
}

.area-select-content-nav .on {
	color: #0d1c28;
}

.area-select-content-nav a {
	display: block;
	color: #999;
	font-weight: bold;
}

/* a {
	text-decoration: none;
	color: #333;
} */
.area-select-content-nav .on i {
	display: block;
}

.area-select-content-nav a i {
	width: 7px;
	height: 14px;
	margin: 0 9px;
	background: url(../imgs/scjg/pef16_03.png);
	margin-top: 7px;
	float: right;
	display: none;
}

.area-select-content-nav li {
	float: left;
	margin-right: 0;
	height: auto;
	line-height: 28px;
}

.search-input-div {
	width: 25%;
	margin: 0 auto;
}

.search-input {
	opacity: 0.8;
}

.search-input .el-input__inner:focus {
	border-color: #ea3410 !important;
}

.search-input .el-input-group__append {
	background-color: #d63d1f !important;
	color: #fff !important;
	border: 1px solid #d63d1f !important;
	cursor: pointer;
}

.hot-point {
	width: 70%;
	margin: 10px auto;
	height: 85px;
	background-color: #ffffff;
}

.hot-word-ul {
	overflow: hidden;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	padding-top: 30px;
	width: 90%;
}

.hot-word-li {
	float: left;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
	width: 25%;
}

.hot-word-span {
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 170px;
}

.hot-word-span-a {
	cursor: pointer;
}

.hot-word-span:hover,.hot-word-span-a:hover {
	color: #b03c2f;
}

.hot-point-word {
	background-color: #d63d1f;
	color: #fff;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-radius: 2px;
	margin-left: 10px;
	text-align: center;
}

.wyb {
	text-align: center;
	font-size: 22px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
	height: 60px;
	padding-top: 25px;
	width: 70%;
	margin: 0 auto;
}

.wyb-line {
	display: inline-block;
	width: 2%;
	border-top: 2px solid #bfbfbf;
	vertical-align: 5px;
}

.wyb-text {
	padding-left: 10px;
	padding-right: 10px;
}

.item-type {
	width: 70%;
	margin: 0 auto;
}

.item-type-ul {
	background-color: #ffffff;
	height: 50px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #f8f8f8;
}

.item-type-ul:HOVER {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.item-type-ul:HOVER .item-type-li-title {
	color: #b03c2f;
}

.item-type-ul:HOVER .item-type-li-flag {
	color: #b03c2f;
}

.item-type-li {
	float: left;
	padding-left: 3%;
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2px;
	letter-spacing: 0px;
	color: #333333;
	padding-left: 3%;
}

.item-type-li-title {
	line-height: 22px;
	font-weight: bold;
	cursor: pointer;
	width: 500px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item-type-li-flag {
	color: #2c8dc9;
	font-weight: bold;
	cursor: pointer;
}

.item-type-img {
	width: 39px;
	height: 39px;
}

.item-type-li-desc {
	padding-left: 3%;
	line-height: 50px;
}

.item-type-span-desc {
	color: #999999;
	font-size: 14px;
	padding-top: 25px;
}

.li-btn {
	float: right;
	margin-right: 3%;
}

.el-button:focus,.el-button:hover {
	color: #ffffff;
	border-color: #255d9f;
	background-color: #255d9f;
}